# Dependencies
node_modules/

# Next.js
app/.next/
app/out/

# Env
**/.env
**/.env*.local

# Logs and OS
*.log
.DS_Store
Thumbs.db

# Sanity Studio
studio-productive-leadership/dist/
studio-productive-leadership/.sanity/
